@mixin wrapper {
  display: inline-block;
  box-sizing: border-box;
}

@mixin input-checkbox {
  position: absolute;
  box-sizing: border-box;
  height: 0;
  width: 0;
  // opacity: 0;
  border: none;
  z-index: 1;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

@mixin label {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

@mixin before-after {
  content: "";
  display: block;
  position: absolute;
}

.mt-normal {
  @include wrapper;
  width: 7em;
  height: 3em;
  label {
    // background
    @include label;
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
    background: #f0134d;
    border: 0.5px solid rgba(117, 117, 117, 0.31);
    box-shadow: inset 0px 0px 0.25em 0px rgba(0, 0, 0, 0.2), 0 -0.1875em 0.25em rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    transform-origin: 20% center;
    &:before {
      // circle
      @include before-after;
      top: 0.25em;
      left: 0.25em;
      width: 2.5em;
      height: 2.5em;
      border: none;
      border-radius: 2em;
      transition: 0.3s ease;
      box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
      background: #fff;
    }
    &:after {
      // shadow
      @include before-after;
      top: -0.3125em;
      left: -0.25em;
      width: calc(100% + 0.5em);
      height: calc(100% + 0.5em);
      background: transparent;
      border-radius: 30px;
      box-shadow: inset 0px 0.125em 0.25em -0.125em rgba(0, 0, 0, 0.2), 0px 1px 0.125em 0px rgba(151, 151, 151, 0.2);
    }
  }
  input {
    @include input-checkbox;
  }
  input:checked + label {
    // background
    background: #40bfc1;
    &:before {
      // circle
      left: 4.2em;
    }
  }
  input:disabled {
    & + label {
      // background
      background: #ccc !important;
      border: none !important;
      cursor: not-allowed !important;
      &:before {
        // circle
        background: #ddd !important;
        box-shadow: none !important;
      }
      &:after {
        // shadow
        box-shadow: none !important;
      }
    }
  }
}
.mt-normal-grass {
  @extend .mt-normal;
  label {
    // background
    background: #ff2e63;
  }
  input:checked + label {
    // background
    background: #21bf73;
  }
}
.mt-normal-navi {
  @extend .mt-normal;
  label {
    // background
    background: #f5f0e3;
  }
  input:checked + label {
    // background
    background: #5f6caf;
  }
}
.mt-normal-violet {
  @extend .mt-normal;
  label {
    // background
    background: #f0e3ff;
  }
  input:checked + label {
    // background
    background: #3e206d;
  }
}
.mt-normal-juice {
  @extend .mt-normal;
  label {
    // background
    background: #f9f6f7;
  }
  input:checked + label {
    // background
    background: #ff971d;
  }
}

.mt-transparent {
  @include wrapper;
  label {
    // background
    @include label;
    width: 7em;
    height: 3em;
    border-radius: 50px;
    background: transparent;
    border: 0.2em solid #333;
    transition: all 0.3s ease;
    &:before {
      // circle
      @include before-after;
      width: 2em;
      height: 2em;
      top: 0.3em;
      left: 0.3em;
      border-radius: 2em;
      background: #333;
      transition: 0.3s ease;
    }
  }
  input {
    @include input-checkbox;
  }
  input:checked + label {
    // background
    background: rgba(0, 0, 0, 0.1);
    &:before {
      // circle
      transform: translateX(4em);
    }
  }
  input:disabled {
    & + label {
      // background
      background: #ccc !important;
      border: 0.2em solid #ccc !important;
      cursor: not-allowed !important;
      &:before {
        // circle
        background: #ddd !important;
      }
    }
  }
}
.mt-transparent-navi {
  @extend .mt-transparent;
  label {
    // background
    border: 0.2em solid #015668;
    &:before {
      // circle
      background: #015668;
    }
  }
  input:checked + label {
    // background
    background: #0157682d;
  }
}
.mt-transparent-blood {
  @extend .mt-transparent;
  label {
    // background
    border: 0.2em solid #801336;
    &:before {
      // circle
      background: #801336;
    }
  }
  input:checked + label {
    // background
    background: #8013362d;
  }
}
.mt-transparent-violet {
  @extend .mt-transparent;
  label {
    // background
    border: 0.2em solid #400082;
    &:before {
      // circle
      background: #400082;
    }
  }
  input:checked + label {
    // background
    background: #4000822d;
  }
}
.mt-transparent-brown {
  @extend .mt-transparent;
  label {
    // background
    border: 0.2em solid #b7472a;
    &:before {
      // circle
      background: #b7472a;
    }
  }
  input:checked + label {
    // background
    background: #b7472a2d;
  }
}

.mt-check {
  @include wrapper;
  label {
    // background
    @include label;
    width: 7em;
    height: 3em;
    border-radius: 1.5em;
    background: #2e394d;
    border: none;
    transition: all 0.3s ease;
    &:before {
      // circle
      @include before-after;
      width: 2.4em;
      height: 2.4em;
      top: 0.3em;
      left: 0.3em;
      border-radius: 2.5em;
      background: #f0134d;
      transition: 0.3s ease;
    }
  }
  input {
    @include input-checkbox;
    font-size: inherit;
    &:before,
    &:after {
      // icon cross/check
      @include before-after;
      height: 0.25em;
      border-radius: 0.125em;
      background: #fff;
      transition: 0.3s ease;
      left: -4px;
      top: -3px;
    }
    &:before {
      // cross
      width: 1.6875em;
      transform: rotate(-45deg) translate(-0.525em, 1.425em);
    }
    &:after {
      // cross
      width: 1.6875em;
      transform: rotate(45deg) translate(1.425em, 0.525em);
    }
  }
  input:checked {
    &:before {
      // check
      width: 1.5625em;
      transform: rotate(-45deg) translate(2.5375em, 4.55em);
    }
    &:after {
      // check
      width: 0.73em;
      transform: rotate(45deg) translate(4.55em, -2.1625em);
    }
  }
  input:checked + label {
    &:before {
      // circle
      background: #40bfc1;
      transform: translateX(4em);
    }
  }
  input:disabled {
    &:before,
    &:after {
      // icon cross/check
      cursor: not-allowed !important;
    }
    & + label {
      // background
      background: #ccc !important;
      cursor: not-allowed !important;
      &:before {
        // circle
        background: #ddd !important;
      }
    }
  }
}
.mt-check-grass {
  @extend .mt-check;
  label {
    &:before {
      // circle
      background: #ff2e63;
    }
  }
  input:checked + label {
    &:before {
      // circle
      background: #21bf73;
    }
  }
}
.mt-check-pink {
  @extend .mt-check;
  label {
    &:before {
      // circle
      background: #ffe3ed;
    }
  }
  input {
    &:before,
    &:after {
      background: #2e394d;
    }
  }
  input:checked + label {
    &:before {
      // circle
      background: #beebe9;
    }
  }
}
.mt-check-matte {
  @extend .mt-check;
  label {
    &:before {
      // circle
      background: #c9485b;
    }
  }
  input:checked + label {
    &:before {
      // circle
      background: #75b79e;
    }
  }
}
.mt-check-fruit {
  @extend .mt-check;
  label {
    &:before {
      // circle
      background: #ff8364;
    }
  }
  input:checked + label {
    &:before {
      // circle
      background: #5f6caf;
    }
  }
}

.mt-square {
  @include wrapper;
  label {
    // background
    @include label;
    width: 8em;
    height: 3em;
    background: #fff;
    transition: all 0.3s ease;
    &:before {
      // moving square
      @include before-after;
      width: 4em;
      height: 3em;
      background: #f0134d;
      transition: 0.3s ease;
      z-index: 1;
    }
  }
  input {
    @include input-checkbox;
    font-size: inherit;
    &:before,
    &:after {
      // background on-off label
      @include before-after;
      width: 4em;
      height: 3em;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #888;
      letter-spacing: 1px;
    }
    &:before {
      // background on-off label
      content: "ON";
      left: -3px;
      top: -3px;
    }
    &:after {
      // background on-off label
      content: "OFF";
      left: calc(4em - 3px);
      top: -3px;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      background: #40bfc1;
      transform: translateX(4em);
    }
  }
  input:disabled {
    &:before,
    &:after {
      // background on-off label
      cursor: not-allowed !important;
    }
    & + label {
      // background
      background: #ccc !important;
      cursor: not-allowed !important;
      &:before {
        // moving square
        background: #ddd !important;
      }
    }
  }
}
.mt-square-grass {
  @extend .mt-square;
  label {
    &:before {
      // moving square
      background: #ff2e63;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      background: #21bf73;
    }
  }
}
.mt-square-tomato {
  @extend .mt-square;
  label {
    &:before {
      // moving square
      background: #ff6347;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      background: #32cd32;
    }
  }
}
.mt-square-matcha {
  @extend .mt-square;
  label {
    &:before {
      // moving square
      background: #5b5656;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      background: #7fcd91;
    }
  }
}
.mt-square-pink {
  @extend .mt-square;
  label {
    &:before {
      // moving square
      background: #ffe3ed;
    }
  }
  input:checked + label {
    &:before {
      // moving square
      background: #beebe9;
    }
  }
}

.mt-square3d {
  @include wrapper;
  label {
    // background
    @include label;
    width: 7em;
    height: 2.5em;
    background: #fff;
    box-shadow: inset 0 0.1em 0.03em rgba(0, 0, 0, 0.2), inset 0 0.1em 0.3em rgba(0, 0, 0, 0.3),
      0 0 2em rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease;
    &:before {
      // square
      @include before-after;
      width: 3.6em;
      height: 3.2em;
      top: -0.45em;
      left: -0.1em;
      background: #cc0966;
      border-bottom: 0.07em solid #f5137f;
      box-shadow: 0 0.16em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3),
        0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
      transition: 0.6s cubic-bezier(0.52, -0.41, 0.55, 1.46);
    }
  }
  input {
    @include input-checkbox;
  }
  input:checked + label {
    &:before {
      // square
      background: #5eb9cc;
      border-bottom: 0.07em solid #71c1d2;
      box-shadow: 0 0.16em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3),
        -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
      transform: translateX(3.5em);
    }
  }
  input:disabled {
    & + label {
      // background
      background: #ccc !important;
      cursor: not-allowed !important;
      &:before {
        // moving square
        background: #ccc !important;
        border-bottom: 0.07em solid #ccc !important;
        box-shadow: 0 0.16em 0.01em #aaa, 0 0.12em 0.3em rgba(100, 100, 100, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3),
          0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}

.mt-brick {
  @include wrapper;
  label {
    // background
    @include label;
    width: 6em;
    height: 5em;
    &:before,
    &:after {
      // square
      @include before-after;
      width: 50%;
      height: 5em;
      transition: 0.3s ease;
    }
    &:before {
      // square yes
      background: #5eb9cc;
      box-shadow: 0 0.12em 0.01em #3ba5bc, 0 0.12em 0.3em rgba(59, 165, 188, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3),
        -0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &:after {
      // square no
      left: 50%;
      background: #bb5687;
      box-shadow: 0 0 0.01em #9b074e, 0 0 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em transparent,
        -0.12em 0.15em 0.2em transparent;
      z-index: 0;
    }
  }
  input {
    @include input-checkbox;
  }
  input:checked + label {
    &:before {
      // square yes
      background: #56afbb;
      box-shadow: 0 0 0.01em #079b8f, 0 0 0.3em rgba(7, 145, 155, 0.6), 0 0.12em 2em transparent,
        -0.12em 0.15em 0.2em transparent;
      z-index: 0;
    }
    &:after {
      // square no
      background: #cc0966;
      box-shadow: 0 0.12em 0.01em #9b074e, 0 0.12em 0.3em rgba(155, 7, 78, 0.6), 0 0.12em 2em rgba(0, 0, 0, 0.3),
        0.12em 0.15em 0.2em rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
  }
  input:disabled {
    & + label {
      // background
      background: #ccc !important;
      cursor: not-allowed !important;
      &:before {
        // moving square
        background: #ccc !important;
        box-shadow: 0 0 0.05em #555, 0 0 0.5em rgba(100, 100, 100, 0.6), 0 0.12em 2em transparent,
          -0.12em 0.15em 0.2em transparent !important;
      }
      &:after {
        // moving square
        background: #ccc !important;
        box-shadow: 0 0 0.05em #555, 0 0 0.5em rgba(100, 100, 100, 0.6), 0 0.12em 2em transparent,
          -0.12em 0.15em 0.2em transparent !important;
      }
    }
  }
}

.mt-ios {
  @include wrapper;
  label {
    // background
    @include label;
    width: 5em;
    height: 3em;
    border-radius: 1.5em;
    background: #f8f8f8;
    box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 0.1875em #dddddd;
    transition: 0.25s ease-in-out;
    &:before {
      // circle
      @include before-after;
      width: 3em;
      height: 3em;
      border-radius: 1.5em;
      background: #fff;
      box-shadow: 0 0.375em 0.375em rgba(0, 0, 0, 0.2), 0 0 0 0.1875em #dddddd;
      transition: 0.25s ease-in-out;
    }
  }
  input {
    @include input-checkbox;
  }
  input:checked + label {
    // background
    box-shadow: inset 0 0 0 1.5em rgba(19, 191, 17, 1), 0 0 0 0.1875em rgba(19, 191, 17, 1);
    &:before {
      // circle
      transform: translateX(2em);
      box-shadow: 0 0 0 0.1875em transparent, 0 0.375em 0.375em rgba(0, 0, 0, 0.3);
    }
  }
  input:disabled {
    & + label {
      // background
      background: #ddd !important;
      box-shadow: inset 0 0 0 0px rgba(19, 191, 17, 1), 0 0 0 0.1875em #ccc !important;
      cursor: not-allowed !important;
      &:before {
        // moving square
        background: #eee !important;
        box-shadow: none !important;
      }
    }
  }
}
.mt-ios-red {
  @extend .mt-ios;
  label {
    // background
    box-shadow: inset 0 0 0 0px #f35f42, 0 0 0 0.1875em #dddddd;
  }
  input:checked + label {
    // background
    box-shadow: inset 0 0 0 1.5em #f35f42, 0 0 0 0.1875em #f35f42;
  }
}
.mt-ios-blue {
  @extend .mt-ios;
  label {
    // background
    box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 0.1875em #dddddd;
  }
  input:checked + label {
    // background
    box-shadow: inset 0 0 0 1.5em #1fc1c8, 0 0 0 0.1875em #1fc1c8;
  }
}

// .mt-transparent {
//   @include wrapper;
//   label {
//     // background
//     @include label;
//     width: 7em;
//     height: 3em;
//     border-radius: 50px;
//     background: transparent;
//     border: 0.2em solid #fff;
//     transition: all 0.3s ease;
//     &:before {
//       // circle
//       @include before-after;
//       width: 2em;
//       height: 2em;
//       top: 0.3em;
//       left: 0.3em;
//       border-radius: 2em;
//       background: #fff;
//       transition: 0.3s ease;
//     }
//   }
//   input {
//     @include input-checkbox;
//     &:before,
//     &:after {
//       @include before-after;
//     }
//     &:before {
//       //
//       content: "OFF";
//     }
//     &:after {
//       //
//       content: "ON";
//     }
//   }
//   input:checked + label {
//     // background
//     background: rgba(0, 0, 0, 0.2);
//     &:before {
//       // circle
//       transform: translateX(4em);
//     }
//   }
// }
