body {
  background: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  flex-direction: "row";
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 80px;
  .text {
    font-family: "Open Sans";
    font-weight: lighter;
  }

  .toggle {
    font-family: "Open Sans";
    font-weight: lighter;
    border-radius: 0.7em;
    background: linear-gradient(45deg, rgb(0, 143, 104), rgb(250, 224, 66));
    width: 1.9em;
    height: 0.8em;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
    .circle {
      position: relative;
      left: 0.1em;
      top: 0.1em;
      width: 0.6em;
      height: 0.6em;
      border-radius: 1em;
      /*   border: solid 0.03em black; */
      background: white;
    }
    .re {
      color: white;
      line-height: 0.6;
      margin-left: 0.15em;
    }
  }
}

.subtitle {
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    // line-height: 2;
}

