@use "sass:color";
@use "../base" as *;

.mt-heart {
  @include wrapper;
  label {
    // bound
    @include label;
    width: 5em;
    height: 5em;
    transition: all 0.3s ease;
    overflow: hidden;
    clip-path: polygon(
      48.595% 85.365%,
      15.785% 52.815%,
      15.58945% 52.6185%,
      12.68962% 48.99466%,
      12.305% 48.375%,
      10.57963% 44.86051%,
      9.35896% 40.38282%,
      9.08571% 35.74977%,
      9.76901% 31.15918%,
      11.37828% 26.80595%,
      13.84412% 22.87395%,
      15.775% 20.7%,
      17.05533% 19.52258%,
      20.87248% 16.88208%,
      25.14556% 15.07038%,
      29.69731% 14.16234%,
      31.94% 14.055%,
      34.33933% 14.174%,
      38.88594% 15.10612%,
      43.14179% 16.95734%,
      46.93771% 19.62896%,
      50% 22.815%,
      50.13928% 22.64012%,
      53.40377% 19.34025%,
      57.24963% 16.74118%,
      61.54157% 14.97537%,
      66.10584% 14.13355%,
      68.06% 14.055%,
      70.74723% 14.20914%,
      75.28062% 15.20472%,
      79.51742% 17.09965%,
      83.2818% 19.81486%,
      84.225% 20.7%,
      86.42617% 23.22899%,
      88.81355% 27.2091%,
      90.33651% 31.59327%,
      90.92925% 36.19641%,
      90.56441% 40.82313%,
      89.25522% 45.27574%,
      87.69% 48.385%,
      87.0678% 49.36971%,
      84.215% 52.82%,
      51.405% 85.37%,
      51.05969% 85.64527%,
      48.595% 85.365%,
      31.94% 18.05%
    );
    &:before {
      // background
      @include before-after;
      width: 5em;
      height: 10em;
      background: linear-gradient(200deg, #cac9d1 0%, #cac9d1 42%, #ff7ea1 55%, #f00846 100%);
      transition: 0.2s ease;
    }
  }
  input {
    @include input-checkbox;
    &:before,
    &:after {
      @include before-after;
    }
  }
  input:checked + label {
    &:before {
      // background
      transform: translateY(-50%);
    }
  }
  input:disabled {
    & + label {
      // bound
      cursor: not-allowed !important;
    }
  }
}

.mt-heart-blush {
  @extend .mt-heart;
  label {
    &:before {
      // background
      background: linear-gradient(200deg, #cac9d1 0%, #cac9d1 42%, #ffaab7 55%, #ff435f 100%);
    }
  }
}

.mt-heart-indigo {
  @extend .mt-heart;
  label {
    &:before {
      // background
      background: linear-gradient(200deg, #cac9d1 0%, #cac9d1 42%, #a4a9ff 55%, #4b54ff 100%);
    }
  }
}

.mt-heart-pink {
  @extend .mt-heart;
  label {
    &:before {
      // background
      background: linear-gradient(200deg, #cac9d1 0%, #cac9d1 42%, #ffc1d7 55%, #ff77a6 100%);
    }
  }
}

.mt-heart-golden {
  @extend .mt-heart;
  label {
    &:before {
      // background
      background: linear-gradient(200deg, #cac9d1 0%, #cac9d1 42%, rgb(255, 230, 121) 55%, rgb(243, 207, 1) 100%);
    }
  }
}
